---
apiVersion: v1
kind: Secret
metadata:
  name: azure
  namespace: kube-system
stringData:
  resource-group: {{ AZURE_RESOURCEGROUP_NAME }}
  subscription-id: {{ AZURE_SUBSCRIPTION_ID }}
  tenant-id: {{ AZURE_TENANT_ID }}
  client-id: {{ AZURE_CLIENT_ID }}
  client-secret: {{ AZURE_CLIENT_SECRET }}
